<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gongji01.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{76,229}}</string>
                <key>offset</key>
                <string>{5,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,96},{76,229}}</string>
                <key>sourceSize</key>
                <string>{86,325}</string>
            </dict>
            <key>gongji02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,237}}</string>
                <key>offset</key>
                <string>{5,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{64,237}}</string>
                <key>sourceSize</key>
                <string>{86,325}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>attackEffect.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c62bff66db278a7dce9b7bde50df74b0:1/1$</string>
            <key>textureFileName</key>
            <string>attackEffect.pvr.ccz</string>
        </dict>
    </dict>
</plist>
