Innovate/cocos2d/build/cocos2d_libs.xcodeproj/xcuserdata/yuebinbin.xcuserdatad/xcschemes/libcocos2d iOS.xcscheme
Innovate/cocos2d/build/cocos2d_libs.xcodeproj/xcuserdata/yuebinbin.xcuserdatad/xcschemes/libcocos2d Mac.xcscheme
Innovate/cocos2d/build/cocos2d_libs.xcodeproj/xcuserdata/yuebinbin.xcuserdatad/xcschemes/xcschememanagement.plist
Innovate/proj.ios_mac/Innovate.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Innovate/proj.ios_mac/Innovate.xcodeproj/project.xcworkspace/xcuserdata/yuebinbin.xcuserdatad/UserInterfaceState.xcuserstate
Innovate/proj.ios_mac/Innovate.xcodeproj/xcuserdata/yuebinbin.xcuserdatad/xcschemes/Innovate-desktop.xcscheme
Innovate/proj.ios_mac/Innovate.xcodeproj/xcuserdata/yuebinbin.xcuserdatad/xcschemes/Innovate-mobile.xcscheme
Innovate/proj.ios_mac/Innovate.xcodeproj/xcuserdata/yuebinbin.xcuserdatad/xcschemes/xcschememanagement.plist
